<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0" xmlns:xi="http://www.w3.org/2001/XInclude">
    <meta>
        <identity>
            <uri>urn:fi:songlift:nk:hellomodule</uri>
            <version>${project.version}</version>
        </identity>
        
        <info>
            <name>Songlift Hello-module</name>
            <description>Songlift Hello-module Proto</description>
        </info>
    </meta>
    
    <system>
        <dynamic/>
    </system>
    
    <xi:include href="${project.build.directory}/xinclude-processing/rootspaces/urn.fi.songlift.nk.services.rest.xml"/>
    <xi:include href="${project.build.directory}/xinclude-processing/rootspaces/urn.fi.songlift.nk.services.soap.xml"/>
    <xi:include href="${project.build.directory}/xinclude-processing/rootspaces/urn.fi.songlift.nk.documentation.xml"/>
    <xi:include href="${project.build.directory}/xinclude-processing/rootspaces/urn.fi.songlift.nk.unittest.xml"/>

</module>
